.hatena-bookmark-widget {
  font-size: small;
  width: 20rem;
  text-align: center;
  margin-bottom: 1em;
  border-color: $light-base06;
  font-size: small;
  line-height: 1.2;
}
.hatena-bookmark-widget * {
  margin: 0;
  padding: 0;
  border: 0;
}
.hatena-bookmark-widget div.hatena-bookmark-widget-title {
  font-weight: bold;
  text-align: left;
  border-radius: 1em 1em 0 0;
  padding: 6px 6px;
  background-color: $light-base01;
  border: 1.5px solid;
  border-bottom: none;
}
body.theme-dark .hatena-bookmark-widget div.hatena-bookmark-widget-title {
  background-color: $dark-base01;
}
.hatena-bookmark-widget div.hatena-bookmark-widget-title a {
  display: block;
  padding-left: 20px;
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20role%3D%22img%22%3E%3Cpath%20style%3D%22fill%3A%2300a4de%22%20d%3D%22M20.47%200C22.42%200%2024%201.58%2024%203.53v16.94c0%201.95-1.58%203.53-3.53%203.53H3.53C1.58%2024%200%2022.42%200%2020.47V3.53C0%201.58%201.58%200%203.53%200h16.94zm-3.705%2014.47c-.78%200-1.41.63-1.41%201.41s.63%201.414%201.41%201.414%201.41-.645%201.41-1.425-.63-1.41-1.41-1.41zM8.61%2017.247c1.2%200%202.056-.042%202.58-.12.526-.084.976-.222%201.32-.412.45-.232.78-.564%201.02-.99s.36-.915.36-1.48c0-.78-.21-1.403-.63-1.87-.42-.48-.99-.734-1.74-.794.66-.18%201.156-.45%201.456-.81.315-.344.465-.824.465-1.424%200-.48-.103-.885-.3-1.26-.21-.36-.493-.645-.883-.87-.345-.195-.735-.315-1.215-.405-.464-.074-1.29-.12-2.474-.12H5.654v10.486H8.61zm.736-4.185c.705%200%201.185.088%201.44.262.27.18.39.495.39.93%200%20.405-.135.69-.42.855-.27.18-.765.254-1.44.254H8.31v-2.297h1.05zm8.656.706v-7.06h-2.46v7.06H18zM8.925%209.08c.71%200%201.185.08%201.432.24.245.16.367.435.367.83%200%20.38-.13.646-.39.804-.265.154-.747.232-1.452.232h-.57V9.08h.615z%22%2F%3E%3C%2Fsvg%3E') left no-repeat;
}
.hatena-bookmark-widget ul {
  list-style-type: none;
  border: 1.5px solid;
  border-bottom: none;
  border-top: none;
}

.hatena-bookmark-widget ul li {
  padding:0 5px;
  margin: 0 !important;
  border-top: 1.5px solid;
  text-align: right;
  height: 4.5em;
  position: relative;
  background: none;
  word-wrap: break-word;
}
.hatena-bookmark-widget ul li * {
  vertical-align: bottom;
}
.hatena-bookmark-widget ul li img {
  margin-left: .5em;
}
.hatena-bookmark-widget ul li a.hatena-bookmark-entrytitle {
  display:block;
  text-align: left;
  padding: 5px 0;
  height: 2em;
}

.hatena-bookmark-widget ul li span.hatena-bookmark-nocount {
  display: block;
  padding-top:1em;
  text-align: center;
  color: #999;
}

.hatena-bookmark-widget div.hatena-bookmark-widget-footer {
  border: 1.5px solid;
  border-top: none;
  padding-left: 5px;
  vertical-align: middle;
  border-radius: 0 0 0.5em 0.5em;
  height: 0.5em;
}
.hatena-bookmark-widget div.hatena-bookmark-widget-footer a {
  display: block;
  padding: 7px 0;
  margin-right: -5px;
  overflow: hidden;
}
.hatena-bookmark-widget div.hatena-bookmark-widget-footer {
  display: block;
  font-weight: bold;
}

.hatena-bookmark-widget span.hatena-bookmark-count {
  position: absolute;
  bottom: 3px;
  right: 5px;
}
.hatena-bookmark-widget span.hatena-bookmark-count em a {
  background-color: #fff0f0;
  font-weight: bold;
  display: inline;
  font-style: normal;
  color: #ff6666;
}
.hatena-bookmark-widget span.hatena-bookmark-count  strong a {
  background-color: #ffcccc;
  font-weight: bold;
  font-style: normal;
  display: inline;
  color: red;
}
