body {
  font-family: "Sans";
  font-size: medium;
  transition: all 0.5s;
  background-color: $light-base00;
  color: $light-base05;
}

body.theme-dark {
  background-color: $dark-base00;
  color: $dark-base05;
}

h1,h2,h3,h4,h5,h6 {
  color: $light-base06;
  border-color: $light-base06;
}

body.theme-dark h1,
body.theme-dark h2,
body.theme-dark h3,
body.theme-dark h4,
body.theme-dark h5,
body.theme-dark h6 {
  color: $dark-base06;
  border-color: $dark-base06;
}

h1 {
  font-size: x-large;
  font-weight: bold;
  border-bottom: 0.1em solid;
}

h2 {
  font-size: large;
  font-weight: bold;
  padding-left: 0.4em;
  border-left: 0.4em solid;
}

h3 {
  font-size: large;
  font-weight: bold;
}

h4 {
  font-size: medium;
  font-weight: bold;
}

main img {
  margin: 1em;
  padding: 0;
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $light-base04;
}

body.theme-dark main img {
  border: 1px solid $dark-base04;
}

table, td, th {
  border: 1px solid $light-base05;
  border-collapse: collapse;
}

body.theme-dark table, td, th {
  border: 1px solid $dark-base05;
}

a {
  color: $light-base0D;
}
body.theme-dark a {
  color: $dark-base0D;
}

a:focus, a:hover {
  color: $light-base0C;
}
body.theme-dark a:focus,
body.theme-dark a:hover {
  color: $dark-base0C;
}

.navbar {
  height: 3em;
  background-color: $light-base01;
  border-top: .1em solid $light-base06;
  border-bottom: .1em solid $light-base06;
  display: inline-block;
  width: 100%;
  padding-top: 0.2em;
  margin-bottom: 1em;
}

body.theme-dark .navbar {
  background-color: $dark-base01;
  border-top: .1em solid $dark-base06;
  border-bottom: .1em solid $dark-base06;
}

.github-corner svg {
  height: 3em;
  fill: $light-base05;
  color: $light-base01;
}

body.theme-dark .github-corner svg {
  fill: $dark-base05;
  color: $dark-base01;
}

.navbar-title {
  font-size: x-large;
  padding-right: 2em;
  color: $light-base06;
}
body.theme-dark .navbar-title {
  color: $dark-base06;
}

.navbar-item > i {
  font-size: x-large;
}

.navbar-item > img {
  height: 1.8em;
  vertical-align: text-bottom;
}

.navbar-item > label, .navbar-item input {
  margin: 0;
  font-size: x-large;
  font-weight: normal;
}

header.navbar .navbar-item > svg {
  height: 1em;
  width: 1em;
  vertical-align: -0.125em;
}

.navbar-item {
  font-size: x-large;
  color: $light-base05;
  display: inline-block;
}
body.theme-dark .navbar-item {
  color: $dark-base05;
}

svg.icons {
  display: inline-block;
  font-size: inherit;
  fill: currentColor;
  margin: 0 0.25em;
  vertical-align: -0.125em;
  height: 1em;
  width: 1em;
}

.navbar-right {
  position: absolute;
  top: 0;
  right: 4em;
  display: inline-block;
}

.profile {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

em,strong {
  font-weight: bold;
  border-bottom: solid 1.5px $light-base0E;
}
body.theme-dark em,
body.theme-dark strong {
  border-bottom: solid 1.5px $dark-base0E;
}

// responsible for milligram
/* mobile screen */
@media (max-width: 40rem) {
  .row .column[class*=" column-"] {
    max-width: 100%;
    margin: 0;
  }
}

// overwride milligram
blockquote {
  border-left: 0.3rem solid $light-base06;
}

body.theme-dark blockquote {
  border-left: 0.3rem solid $dark-base06;
}

code {
  color: $light-base05;
}

pre {
  border-left: .3rem solid $light-base06;
}

ol {
  list-style: decimal;
  margin-left: 1em;
}

ul {
  list-style: circle;
  margin-left: 1em;
}

// for hugo toc

#TableOfContents {
  padding: 1em 0em 0em 1em;
  background: $light-base00;
  border: solid 2px $light-base06;
  border-radius: 1em;
  margin-bottom: 1em;
}

body.theme-dark #TableOfContents {
  background: $dark-base00;
  border: solid 2px $dark-base06;
}

#TableOfContents ul li {
  line-height: 1;
}
