<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    <header class="navbar">
      <div class="container">
        <a class="navbar-title" href="/diary/">
          {{ with .Site.GetPage "/diary/" }}{{ .Title }}{{ end }}
        </a>
        <div class="navbar-right">
          {{ partial "theme-switch.html" . }}
          <a class="navbar-item" href="/diary/index.xml">
            <svg class="icons fa-rss-square">
              <use xlink:href="#fa-rss-square"></use>
            </svg>
          </a>
        </div>
      </div>
      {{ partial "github-corners.html" . }}
    </header>
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
  </body>
<html>
