{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="column column-66">
      <a id="title"></a>
      <h1 class="title">{{ .Title }}</h1>
      <div class="meta">
        <span class="date">{{ .Date.Format "2006-01-02" }}</span>
        {{ range .Params.tags }}
        <span class="tag">{{ . }}</span>
        {{ end }}
      </div>
      {{ partial "share.html" . }}
      <div class="content">
        {{ .Content }}
      </div>
      {{ partial "share.html" . }}
    </div>
    <div class="column column-offset-10 column-20">
      {{ partial "profile.html" . }}
      {{ partial "recent_entries.html" . }}
    </div>
  </div>
</div>
{{ end }}
