<div class="navbar-item">
  <svg id="theme-switch-icon-moon" class="icons fa-moon">
    <use xlink:href="#fa-moon" />
  </svg>
</div>
<div class="navbar-item theme-switch">
  <input type="checkbox" id="theme-switch-checkbox" checked="" />
  <label for="theme-switch-checkbox" />
    <div id="theme-switch-box"></div>
  </label>
</div>
<div class="navbar-item">
  <svg id="theme-switch-icon-sun" class="icons fa-sun">
    <use xlink:href="#fa-sun" />
  </svg>
</div>

<script>
  const checkbox = document.querySelector("#theme-switch-checkbox");
  function toggle_theme() {
    switch_theme(!checkbox.checked);
    return false;
  }
  function switch_theme(checked) {
    checkbox.checked = checked
    const icon_sun = document.querySelector("#theme-switch-icon-sun");
    const icon_moon = document.querySelector("#theme-switch-icon-moon");
    if (checked) {
      document.body.classList.remove("theme-dark");
      document.body.classList.add("theme-light");
    } else {
      document.body.classList.remove("theme-light");
      document.body.classList.add("theme-dark");
    }
  }
  checkbox.addEventListener("change", () => {
    switch_theme(checkbox.checked);
  });
  const is_dark = window.matchMedia('(prefers-color-scheme: dark)').matches
  switch_theme(!is_dark);
</script>
